<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shop</title>
	<link rel="stylesheet" href="/public/css/uikit.min.css">
</head>
<body>
	
<div id="app" class="uk-container">
	<nav class="uk-navbar-container" uk-navbar>
	    <div class="uk-navbar-left">
	        <ul class="uk-navbar-nav">
	            <li v-for="item in nav">
	            	<router-link :to="item.href">{{ item.caption }}</router-link>
	            </li>
	        </ul>
	    </div>
	</nav>
	<router-view></router-view>
</div>

<template id="products">
	<div class="uk-margin-remove" uk-grid>
		<div v-for="product in products" class="uk-card uk-card-default uk-card-body uk-width-1-5 uk-text-center">
	   		<h3 class="uk-card-title uk-text-left">
	   			<router-link :to="'/product/' + product.id">{{ product.caption }}</router-link>	
	   		</h3>
	    	<img :src="$root.host + product.image" width="100px" class="uk-margin-top uk-margin-bottom" />
	    	<div class="uk-text-lead">{{ product.price }} P</div>
	    	<button class="uk-button uk-button-primary">Buy</button>
		</div>
	</div>
</template>

<template id="product">
	<div class="uk-card uk-card-default uk-card-body uk-text-center">
	   	<h3 class="uk-card-title uk-text-left">{{ product.caption }}</h3>
	    <img :src="$root.host + product.image" width="100px" class="uk-margin-top uk-margin-bottom" />
	    <div class="uk-text-lead">{{ product.price }} P</div>
	    <button class="uk-button uk-button-primary">Buy</button>
	</div>
</template>

<script src="/public/js/uikit.min.js"></script>
<script src="/public/js/vue.min.js"></script>
<script src="/public/js/vue-router.min.js"></script>
<script src="/public/js/vuex.min.js"></script>
<script src="/modules/main.js" type="module"></script>
</body>
</html>